{% extends 'todo/header.html' %}
{% block title %}
    Update {{ todo.title }}
{% endblock title %}
{% block content %}
<bR>
    <div class="card" style="margin:2%;">
        <div class="card-header">{{ todo.title }}</div>
        <div class="card-body">
            {{ error }}<br>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-success">Update</button>
            </form>
        </div>
    </div>
<br>
{% endblock content %}