{% extends 'todo/header.html' %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-lg-4">
        <div class="card text-white bg-success" style="margin:2%;">
            <div class="card-header">Home</div>
            <div class="card-body">
                <h5 class="card-title">
                    <a href="https://github.com/BADGUY0592" style="text-decoration:none;color:white">
                        Other Projects
                    </a>
                </h5>
                <p class="card-text">
                    <a href="https://github.com/BADGUY0592/Password-Generator-Website-in-Django" style="text-decoration:none;color:white"><i class="fa fa-arrow-circle-right"></i> Password Generator Website</a><br>
                    <a href="https://github.com/BADGUY0592/Portfolio-Website-In-Django" style="text-decoration:none;color:white"><i class="fa fa-arrow-circle-right"></i> Portfolio Website</a><br>
                </p>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="col-lg-8">
            <div class="card text-white bg-danger" style="margin:2%;">
                <div class="card-header">
                    Current Todos
                    <a href="/create-todo/" class="badge badge-pill badge-warning" style="float:right">Add New</a>
                </div>
                <div class="card-body">
                    {% if todos.count > 0 %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <td>Title</td>
                                        <td>Memo</td>
                                        <td>Created</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for todo in todos %}
                                        {% if todo.important %}
                                            <tr class="font-weight-bold">
                                        {% else %}
                                            <tr>
                                        {% endif %}
                                            <td>
            <!--                                    <a class="todo" id="t{{ todo.id }}" href="#" data-toggle="modal" data-target="#exampleModal">-->
            <!--                                        {{ todo.title }}-->
            <!--                                    </a><br>-->
                                                <a href="/current/todo-details/{{ todo.id }}">
                                                    {{ todo.title }}
                                                </a>
                                            </td>
                                            <td>
                                                {{ todo.memo|truncatechars:50 }}
                                            </td>
                                            <td>{{ todo.created }}</td>
                                            <td>
                                                <a href="/todo/edit/{{ todo.id }}" class="badge badge-pill badge-primary"><i class="fa fa-pencil"></i> Edit</a>&nbsp;&nbsp;&nbsp;
                                                <a href="/todo/delete/{{ todo.id }}" class="badge badge-pill badge-danger"><i class="fa fa-trash-o"></i> Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <span class="badge badge-pill badge-danger"> No Todos Found. </span>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-lg-4">
            <div class="card text-white bg-danger" style="margin:2%;">
                <div class="card-header">Signup</div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'signupuser' %}" style="text-decoration:none;color:white">
                            Click To Signup.
                        </a>
                    </h5>
                    <p class="card-text">
                        Signup and Create Some Todos.<br><br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card text-white bg-warning" style="margin:2%;">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'login' %}" style="text-decoration:none;color:white">
                            Click To Login.
                        </a>
                    </h5>
                    <p class="card-text">
                        Login and Create Some Todos.<br><br>
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}